/* You can add global styles to this file, and also import other style files */
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
    margin:0;
}

body {
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    background-color: #eee
}

h1 {
    margin: 0;
}

